#topbar
{
background-color:black;
height:20px;
width:100%;
color:red;
}
body{
    background-color:white;
}
#container{
background-color:black;
height: 240%;
width:75%;
margin: 0px auto;
}
#inside1{
    background-color:aquamarine;
    height:300px;
    width:32%;
    float:left;
    margin-right: 2%;
    }
    #header{
        background-color:black;
        height: 50px;
    }
    #header img{
        height: 70px;
        width: 20%;
        margin-bottom: 10px;
    }
    #header ul{
        float:right;
        margin-top: 10px;
    }
    #header ul li{
        display:inline;
        margin-right: 50px;
    }
    #header ul li a {
        color: darkgrey;
        text-decoration: none;
        font-weight: bold;
    }#banner img{

        width:100%;
        margin-top: 0px auto;
        padding-bottom: 20px;
    }#inside2{
        background-color:purple;
        height:300px;
        width:32%;
        float:left;
        }#inside3{
            background-color:orange;
            height:300px;
            width:32%;
            float:right;
            }
            .heading{
                color:white;
                margin-left: 5px;

            }
            .para{
                color:black;
                margin-left: 5px;
            }
            .bro{
                text-decoration: none;
                color:black;
            }
            .sis{
                margin-left: 10px;
            }
            #bottom1{
                background-color:lightgrey;
                width: 60%;
                height: 210px;
                margin-top: 10px;
                float:left;
                
            }
            #bottom2{
                background-color:lightgrey;
                width: 40%;
                height: 210px;
                float:right;
                margin-top: 10px;
            }
            #glory iframe{
                width: 65%;
                margin-top: 10px;
                height: 39%;
            }
            #bottom1 a{
                color:orangered;
            }
            #bottom2 img{
                height: 80px;
                width:25%;
            }
        footer{
            background-color:darkgrey;
            height: 100px;
            width: 100%;

        }  
        footer pre{
            font-size: 20px;
        }
        #header ul li a:hover{
            color: rgb(249, 161, 0);
            text-decoration: underline;
        }
       
    
